.page-link:disabled {
  cursor: not-allowed;
  background-color: rgba(195, 195, 195, 0.3);
}

.page-link {
  cursor: pointer;
  color: #212529 !important;
}

.is-active {
  background-color: #f3eeee !important;
}
