.custom-button {
  background-color: #f3eeee !important;
  padding: 10px !important;
  width: 350px;
  margin: auto 0 !important;
}

tr {
  justify-content: center !important;
  text-align: center;
}

.tableHeader {
  width: 150px !important;
  border-color: #f3eeee !important;
}

thead {
  background-color: #f3eeee !important;
}
td {
  text-align: center;
}

.centerButtonContainer {
  width: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.deleteTableButton,
.updateTableButton {
  width: 80px !important;
}

.SearchAndAddUserContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-start;
  padding: 10px;
}
